fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
langchain
langchain-chroma
langchain-core
langchain-ollama
langchain-google-genai
langchain-community
langchain-huggingface
chromadb
sentence-transformers
pyyaml
traitlets==5.14.3
transformers==4.57.3
tree-sitter==0.25.2
tree-sitter-c-sharp==0.23.1
tree-sitter-embedded-template==0.25.0
tree-sitter-language-pack==0.13.0
tree-sitter-yaml==0.7.2
typer==0.21.1
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
uncalled-for==0.3.1
urllib3==2.3.0
uuid_utils==0.12.0
uvicorn==0.40.0
watchdog==5.0.3
watchfiles==1.1.1
wcwidth==0.2.14
websocket-client==1.9.0
websockets==15.0.1
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
zstandard==0.25.0
